<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dddsample.infrastructure.repository.mybatis.TaskMapper">
    <resultMap id="task" type="com.example.dddsample.infrastructure.repository.mybatis.Task">
        <!-- 自動マッピング使ってみる?? https://mybatis.org/mybatis-3/ja/sqlmap-xml.html#%E8%87%AA%E5%8B%95%E3%83%9E%E3%83%83%E3%83%94%E3%83%B3%E3%82%B0 -->
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="due_date" property="dueDate"/>
        <result column="task_status" property="taskStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>
    <select id="selectById" resultMap="task">
        select id, name, due_date, task_status
        from task
        where id = #{id}
    </select>
    <select id="selectAll" resultMap="task">
        select id, name, due_date, task_status
        from task
    </select>
    <insert id="save">
        insert into task
            (name, due_date, task_status)
        values (#{name}, #{dueDate}, #{taskStatus, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler, javaType=com.example.dddsample.domain.task.TaskStatus})
    </insert>
    <!--@see https://github.com/mybatis/mybatis-3/issues/1293#issuecomment-501636112 -->
    <select id="update" resultMap="task" flushCache="true">
        update
            task
        set
            name = #{name}
          ,due_date = #{dueDate}
          ,task_status = #{taskStatus, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler, javaType=com.example.dddsample.domain.task.TaskStatus}
        where
            id = #{id}
        returning *
    </select>
    <delete id="deleteById">
        delete from task where id = #{id}
    </delete>
</mapper>